.lora-<uniquifier> {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  margin-left:15%;
  margin-right:5%;
  font-family:'Lora',Georgia,serif; 
}
header {
  background-color: #2FDB24;
}

h1, h2, h3, h4, h5 {
  letter-spacing: 0em;
	color: #181616;
	margin-top: 1.125rem;
  margin-bottom: 1.125rem;
}

nav {
  overflow: hidden;
  opacity: 0.6;
  margin-bottom: 20px;
}

nav a {
  float: left;
  display: block;
  color: rgb(10, 92, 10);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #0b3b08;
  color: rgb(255, 255, 255);
}

.fit-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h3 {
  border-bottom: 0.5px dashed green;
  color: #2FDB24;
}

footer {
  text-align: center;
  padding: 10px;
  background-color:#2FDB24;
  opacity: 0.6;
}
  